.flex{
display: flex;
flex-direction: column;

}

.radio{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    
}

.text{
    flex-direction: column;
}










